*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --primary-color: #212121;
  --white: #FFFFFF;
}
html,
body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

























































